/* background-color */
$primary-color: #fff;
$primary-color-header-footer: #A9BFE4;
$primary-color-banner-comments: rgba(169, 191, 228, 0.3);
$primary-color-button: #FFC2C7;
$color-pagination: #D9D9D9;
$box-shadow-color: rgba(0, 0, 0, 0.25);

/* text-color */
$primary-text-color: #351F21;
$additional-text-color: #fff;
$rare-text-color: #989EC3;

/* font-family */
$primary-font-family: 'Lora';
$additional-font-family: 'Source Sans Pro';
$rare-font-family: sans-serif;

/* font-size */
$primary-text-size: 14px;
$text-size-h2: 24px;
$text-size-h3: 20px;
$text-size-h4: 16px;
$additional-text-size: 13px;
$rare-text-size: 12px;

/* line-height */
$primary-line-height: 18px;
$line-height-h2: 31px;
$line-height-h3: 26px;
$line-height-h4: 21px;
$additional-line-height: 16px;
$rare-line-height: 15px;

/* font-weight */
$primary-font-weight: 400;
$additional-font-weight: 300;
$rare-font-weight: 600;

/* border-weight */
$primary-border-weight: 1px;
$additional-border-weight: 2px;

